@charset 'utf-8';

.slide {
    position: relative;
    display: block;
    width: 100%;
}

.slideContainer {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.slideWrapper {
    position: absolute;
    left: 0%;
    transform: translateX(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.slide_factor {
    border: 1px solid #fff;
}

.slide_factor>img {
    width: 100%;
    object-fit: cover;
}


.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider-items {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
    transform: translateX(0);
  }
  
  .slider-item {
    flex: 1 0 33.33%;
    margin-right: 20px;
  }
  
  .slider-item img {
    width: 100%;
    height: auto;
  }